@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Alegreya');

body {
  background-color: rgba(236, 241, 243, 0.65);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 14px;
  color: #24292e;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#list{
  margin-left: 14rem;
}

a[href] {
  text-decoration: none;
  color: rgb(12, 12, 12);
}

.card {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: default;
}

.card .image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.card img {
  display: block;
  position: relative;
}

.card:hover .image-overlay {
  opacity: 1;
}

.image-overlay a {
  text-decoration: none;
  font-size: 20px;
  margin: 100px 0 0;
  display: inline-block;
  color: #fff;
}

.navbar {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);

}

.section {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}

#elipsis {
  padding-left: 450px;
  padding-top: 20px;
}

#md {
  float: right;
  color: red;
}

#bar {
  position: sticky;
}

#side {
  overflow: auto;
  max-height: 400px;
}

.row1,
.row2,
.flex,
.side {
  display: flex;
}

i {
  width: 30px;
}

.border,
.search {
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  border-width: thin;
}

.jumbo{
 display: inline-block;
}







